@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    string? userName = HttpContext.Session.GetString("UserName");
    //string? username = HttpContext.Session.GetString("UserName");

}

<div class="index-body-container ">
    <div class="row">
        <div class="login">
        </div>
        <div class="your-cards-col col-md-3">
            <h4>Your cards</h4>
            <ul class="owned-cards-list">
                @if (!string.IsNullOrEmpty(userName))
                {
                    @foreach (var card in Model.Cards)
                    {
                        <li>@card</li>
                    }
                }
            </ul>
        </div>
        <div class="col-md-9 text-center">
            @if (!string.IsNullOrEmpty(userName))
            {
                <h2>Hi @Model.UserName, Select your cards</h2>
            }
            else
            {
                <h2>Select your cards</h2>
            }
        </div>
    </div>
</div>

<style>
    .index-body-container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .owned-cards-list {
        list-style: none;
        padding-left: 2px;
        padding-right: 0;
    }

    .your-cards-col {}
</style>