@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <div class="login">
        </div>
        <div class="col-md-3">
            <h2>Your cards </h1>
                <ul>
                    <li>card1</li>
                    <li>card1</li>
                    <li>card1</li>
                </ul>
        </div>
        <div class="col-md-9 text-center">
            <h1>Hi @Model.UserName, Select your cards</h2>
        </div>
    </div>
</div>
